name: Java CI (Build, Test & Artifact)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Checkout Yap
        uses: actions/checkout@v4

      - name: JDK 8 Kurulumu
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'

      - name: Maven ile Derle ve Test Et
        run: mvn clean verify

      - name: Derlenen JAR Dosyasını Bul
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        id: find_jar
        run: |
          JAR_FILE=$(find target -maxdepth 1 -type f -name "*.jar" ! -name "*-sources.jar" ! -name "*-javadoc.jar" | head -n 1)
          echo "JAR_PATH=$JAR_FILE" >> $GITHUB_OUTPUT
          echo "JAR_NAME=$(basename $JAR_FILE)" >> $GITHUB_OUTPUT

      - name: Geliştirme Build'ini Artifact Olarak Yükle
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-development-build
          path: ${{ steps.find_jar.outputs.JAR_PATH }}
          retention-days: 7