name: Java CI (Build & Artifact)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kodu Checkout Yap
        uses: actions/checkout@v4

      - name: JDK 17 Kurulumu
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Maven ile Tüm Modülleri Derle
        run: mvn -B package

      - name: Geliştirme Build'lerini Artifact Olarak Yükle
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-development-builds
          path: |
            antiafk-core/target/*.jar
            !antiafk-core/target/*-sources.jar
            !antiafk-core/target/*-javadoc.jar
            antiafk-geyser/target/*.jar
            !antiafk-geyser/target/*-sources.jar
            !antiafk-geyser/target/*-javadoc.jar
          retention-days: 7